
/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
body {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
  color: #828282;
}

#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  padding-top: 6em !important;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}


.centered {
  display:block; margin: 0 auto
}

.offcanvas #page {
  overflow: hidden;
  position: absolute;
}
.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}

a {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: #867b00;
  outline: none;
  text-decoration: underline;
}

.fh5co-nav a{
	text-decoration: none;
}
a:hover, a:active, a:focus {
  color: #cabcab;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

::-webkit-selection {
  color: #fff;
  background: #cabcab;
}

::-moz-selection {
  color: #fff;
  background: #cabcab;
}

::selection {
  color: #fff;
  background: #cabcab;
}

.fh5co-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 25px 0;
  z-index: 1;
  background: #edebe8;
}
@media screen and (max-width: 768px) {
  .fh5co-nav {
    padding: 20px 0;
  }
}

.fh5co-top-social {
  display: none;
}

.fh5co-nav .fh5co-top-logo,
.fh5co-nav .fh5co-top-menu,
.fh5co-nav .fh5co-top-social {
  float: left;
}
.fh5co-nav .fh5co-top-logo {
  width: 30%;
}
.fh5co-nav .fh5co-top-menu {
  width: 70%;
}
.fh5co-nav .fh5co-top-social {
  width: 20%;
}
.fh5co-nav #fh5co-logo {
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montserrat", Arial, sans-serif;
}
.fh5co-nav .fh5co-social {
  margin: 3px 0 0 0;
  padding: 0;
}
.fh5co-nav .fh5co-social li {
  padding: 0;
  margin: 0;
}
.fh5co-nav .fh5co-social li a {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.4);
}
.fh5co-nav a {
  padding: 5px 0;
  color: #867b00;
}
@media screen and (max-width: 768px) {
  .fh5co-nav .menu-1, .fh5co-nav .menu-2 {
    display: none;
  }
}
.fh5co-nav .menu-2 li.search {
  float: left;
  width: 83%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 0;
  margin: -5px 0 0 0;
}
.fh5co-nav .menu-2 li input[type=text] {
  padding: 6px 10px;
  width: 40%;
  border: none;
  float: right;
  font-size: 13px;
  margin-top: 4px;
  background: transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.fh5co-nav .menu-2 li input[type=text]:focus {
  width: 100%;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.fh5co-nav .menu-2 li button {
  margin-top: 4px;
  padding: 5px;
  background: transparent;
  border: none;
}
.fh5co-nav .menu-2 li button i {
  color: rgba(0, 0, 0, 0.5);
}
.fh5co-nav .menu-2 li button:hover, .fh5co-nav .menu-2 li button:focus {
  background: transparent !important;
}
.fh5co-nav .menu-2 li button:hover i, .fh5co-nav .menu-2 li button:focus i {
  color: black;
}
.fh5co-nav ul {
  padding: 0;
  margin: 3px 0 0 0;
}
.fh5co-nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
  font-family: "Montserrat", Arial, sans-serif;
}
.fh5co-nav ul li a {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 30px 10px;
  color: rgba(0, 0, 0, 0.9);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.fh5co-nav ul li a:hover, .fh5co-nav ul li a:focus, .fh5co-nav ul li a:active {
  color: black;
}
.fh5co-nav ul li.has-dropdown {
  position: relative;
}
.fh5co-nav ul li.has-dropdown .dropdown {
  width: 150px;
  -webkit-box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.55);
  z-index: 1002;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 0;
  text-align: left;
  background: #000;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.fh5co-nav ul li.has-dropdown .dropdown:before {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #000;
  border-width: 8px;
  margin-left: -8px;
}
.fh5co-nav ul li.has-dropdown .dropdown li {
  display: block;
  margin-bottom: 7px;
}
.fh5co-nav ul li.has-dropdown .dropdown li:last-child {
  margin-bottom: 0;
}
.fh5co-nav ul li.has-dropdown .dropdown li a {
  padding: 2px 0;
  display: block;
  color: #999999;
  line-height: 1.2;
  text-transform: none;
  letter-spacing: 0px;
  font-size: 15px;
}
.fh5co-nav ul li.has-dropdown .dropdown li a:hover {
  color: #fff;
}
.fh5co-nav ul li.has-dropdown:hover a, .fh5co-nav ul li.has-dropdown:focus a {
  color: #000;
}
.fh5co-nav ul li.active > a {
  color: #cabcab !important;
}
.fh5co-nav ul li .form-group {
  border: 1px solid red;
  width: 100%;
}

.about-content {
  margin-bottom: 7em;
}
.about-content img {
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 10px;
}
.about-content .desc {
  margin-bottom: 3em;
}

.fh5co-staff {
  text-align: center;
  margin-bottom: 30px;
}
.fh5co-staff img {
  width: 170px;
  margin-bottom: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.fh5co-staff h3 {
  font-size: 24px;
  margin-bottom: 5px;
}
.fh5co-staff p {
  margin-bottom: 30px;
}
.fh5co-staff .role {
  color: #bfbfbf;
  margin-bottom: 30px;
  font-weight: normal;
  display: block;
}

.fh5co-social-icons {
  margin: 0;
  padding: 0;
}
.fh5co-social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.fh5co-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #cabcab;
  padding-left: 10px;
  padding-right: 10px;
}
.fh5co-social-icons li a i {
  font-size: 20px;
}

.fh5co-contact-info ul {
  padding: 0;
  margin: 0;
}
.fh5co-contact-info ul li {
  padding: 0 0 0 40px;
  margin: 0 0 30px 0;
  list-style: none;
  position: relative;
}
.fh5co-contact-info ul li:before {
  color: #cabcab;
  position: absolute;
  left: 0;
  top: .05em;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fh5co-contact-info ul li.address:before {
  font-size: 30px;
  content: "\e9d1";
}
.fh5co-contact-info ul li.phone:before {
  font-size: 23px;
  content: "\e9f4";
}
.fh5co-contact-info ul li.email:before {
  font-size: 23px;
  content: "\e9da";
}
.fh5co-contact-info ul li.url:before {
  font-size: 23px;
  content: "\e9af";
}

.fh5co-bg-section {
  background: rgba(0, 0, 0, 0.05);
}

#fh5co-started,
#fh5co-author,
#fh5co-work,
#fh5co-about,
#fh5co-contact,
#fh5co-footer {
  padding: 2.5em;
  clear: both;
}
@media screen and (max-width: 768px) {
  #fh5co-started,
  #fh5co-author,
  #fh5co-work,
  #fh5co-about,
  #fh5co-contact,
  #fh5co-footer {
    padding: 3em 0;
  }
}

#progressBox{
	background: transparent;
	background: url("../img/GUI_net5.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100vh;
}

#params{
	background: transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100vh;
}

#paramBox{
	-webkit-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.75);
}

body{
	overflow:hidden;
}

